{% load staticfiles %}

<html>
<head>
	<title>Кайдзен</title>
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html,body,h1,h2,h3,h4,h5 {font-family: "Exo 2", sans-serif}
	</style>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "polls/css/style.css" %}">
</head>

<body>
	<div class="w3-container w3-gray">
		{# <div class="page-header"> #}
			<h1><a href="/improve/">Кайдзен</a></h1>
		{# </div> #}
	</div>
	<div class="w3-container">
		{# <div class="row"> #}
			<div class="col-md-12 col-xs-12">
				{% block content %}
				{% endblock %}
			</div>
		{# </div> #}
	</div>

</body>
</html>