{% extends 'polls/base.html' %}
{# {% load staticfiles %} #}

{# <link rel="stylesheet" type="text/css" href="{% static "polls/css/style.css" %}"> #}
{% block content %}
	{% if latest_question_list %}
	    {# <ul> #}
	    {% for question in latest_question_list %}
	        <div class="panel panel-default">
	        	<div class="panel-heading"><h4>{{ question.question_text }}</h4></div>
	        	<div class="panel-body">
	        		<a class="btn btn-link" href="{% url 'polls:detail' question.id %}">подробнее...</a>
	        	</div>
	        </div>
	        {# <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> #}
	    {% endfor %}
	    {# </ul> #}
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
{% endblock content %}